
body{
    background-color: #1abc9c;
}
.preview{
    background-color: #fff;
}
.preview{
    min-height: 400px;
    padding: 2rem;
}
.editor{
    height: 400px;
}
.preview img{
    max-width: 100%;
}